@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b2ac88;
  --panel-background: rgb(245 245 244); /* stone-100 */
  --button-hover: rgb(229 231 235); /* gray-200 */
  --button-active: rgb(229 231 235); /* gray-200 */
  --primary-text: #5c573e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-lg {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;

  @media screen(md) {
    font-size: 6rem;
  }

  @media screen(lg) {
    font-size: 8rem;
  }
}

.heading-md {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;

  @media screen(md) {
    font-size: 4.5rem;
  }

  @media screen(lg) {
    font-size: 6rem;
  }
}
